.grid-menu-card {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas:
    'image title price'
    'image title price'
    'image description .'
    'image description .'
    'image description .'
    'image description .'
    'image weight .';
}

.menu-card-style {
  padding: 20px;
  border-radius: 6px;
}

.card-title {
  grid-area: title;
  font-size: 1.25rem;
  font-weight: bold;
}

.image-round {
  width: 250px;
  height: 250px;

  border-radius: 4px;

  box-shadow: 0px 0px 8px 0.5px black;
}

.item-price {
  justify-self: end;

  margin-right: -70px;

  padding-left: 10px;
  padding-right: 20px;

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  color: white;
  background-color: var(--jet);
}

.item-price:hover {
  color: var(--jet);
  background-color: white;
  cursor: pointer;
}