.about-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;

  justify-content: center;
  align-items: center;
}

.about-padding {
  padding: 30px;
}

.about-radius-15 {
  border-radius: 15px;
}

.schedule-container-flex {
  height: 100%;
}

.schedule-container-flex > :not(:last-child) {
  border-bottom: 4px solid var(--jet);
}

@media screen and (max-width: 1600px) {
  .about-flex {
    flex-flow: column wrap;
    width: 100%;

    row-gap: 40px;
  }

  .schedule-container-flex {
    height: auto;
  }
}