.home-flex {
  display: flex;
  flex-flow: row wrap;
  column-gap: 40px;

  justify-content: center;
}

.home-padding {
  padding: 30px;
}

.home-radius-15 {
  border-radius: 15px;
}

.schedule-container-flex > :not(:last-child) {
  border-bottom: 4px solid var(--jet);
}
