.grid-menu {
  display: grid;
  margin-bottom: 25px;
}

.menu-style {
  min-width: 400px;
  width: 60%;
  max-width: 1200px;

  border-radius: 15px;
  
  padding: 15px 50px;
}

.grid-menu > * {
  padding-top: 35px;
  padding-bottom: 35px;
}

.grid-menu > :not(:last-child){
  border-bottom: 4px solid rgb(58, 57, 57);
  border-radius: 0px;
}