.contact-flex-rows {
  display: flex;
  flex-flow: column wrap;
  width: min-content; 

  justify-content: space-evenly;
  
  padding: 30px;
}

.contact-flex-rows > :not(:last-child) {
  border-bottom: 4px solid var(--jet);
}

.how-to-contact-flex {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  row-gap: 25px;
  padding: 10px;
}

.contact-title {
  align-self: flex-end;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-message {
  padding-top: 20px;
  min-width: 400px;
}


@media screen and (max-width: 900px) {
  .contact-flex-rows {
    width: auto;
  }
}