.flex-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  justify-content: center;

  padding-inline-start: 0px;
}

.li-no-style {
  list-style: none;
}

.menu-items {
  cursor: pointer;
}

.menu-items:hover {
  text-decoration: underline;
}

.underline {
  width: clamp(500px, 70%, 1500px);
  border-bottom: 4px solid white;
}

.navbar-spacing {
  margin-bottom: 15px;
}
