@font-face {
  font-family: 'Catamaran';
  src: url('fonts/Catamaran/Catamaran-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

:root {
  box-sizing: border-box;
  font-size: 18pt;
  font-family: 'Catamaran';

  --liver-chestnut: #936446ff;
  --jet: #2b2b2bff;
  --gray-x-11-gray: #bbb9baff;
  --kombu-green: rgba(52, 135, 92, 0.882);
  --dark-sienna: #300808ff;
}

.font-1_5rem {
  font-size: 1.5rem;
}

.font-2rem {
  font-size: 2rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#content {
  height: 100vh;
}

.background-fit {
  background-image: url('./images/plate_2.jpeg');
  background-attachment: fixed;
  background-size: cover;
}
