@font-face {
  font-family: 'Catamaran';
  src: url('fonts/Catamaran/Catamaran-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

:root {
  box-sizing: border-box;
  font-size: 18pt;
  font-family: 'Catamaran';
  line-height: 1.4;

  --liver-chestnut: #936446ff;
  --jet: #2b2b2bff;
  --gray-x-11-gray: #bbb9baff;
  --white: #efeeee;
  --kombu-green: rgba(73, 127, 103, 0.745);
  --yellow: #5f168d;
}

.font-1_5rem {
  font-size: 1.5rem;
}

.font-2rem {
  font-size: 2rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

#content {
  min-height: 100vh;
  height: max-content; 
}

.background-fit {
  background-image: url('./images/top-view-fresh-fish-with-lemon-slices.png');
  background-clip: border-box;
  background-attachment: fixed;
  background-size: 100%; 
}
